@model double

<div class="budgetPage">
    <h2 class="text-center font-weight-bold" style="font-size: 22px; ">Budget Informations</h2>
    <div class="card text-center mt-5 w-50" style="margin-left: 25%;box-shadow: 4px 4px 4px 4px #888888;">
        <div class="card-header text-muted font-weight-bold" style="font-size:22px;"> 
            Current Budget
        </div>
        <div class="card-body text-center">
            <img src="~/icons/budget.svg" class="mt-3" width="250" height="250" />
        </div>
        <div class="card-footer text-muted">
            <p class="font-weight-bold" style="font-size:22px;">Total : @Model €</p>
        </div>
    </div>
  
</div>

<style>

 

</style>